<head>
	<title>Shikaku Error</title>
	<link rel="stylesheet" href="/public/main.css"/>
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>
<body>
	<div class="err_main">
	<section class="base_container">
		<div class="err_bang">!</div>
		{{ if .Message }}
		<h1>{{ .Message }}</h1>
		<p>{{ .Status }}: {{ statusText .Status}}
		{{ else }}
		<h1>{{ .Status }}: {{ statusText .Status }}</h1>
		{{ end }}
		<div>
			<a class="err_back" href="#" onclick="window.history.back()">&lt; Back</a>
			<a class="err_home" href="/">Home</a>
		</div>
	</section>
	</div>
</body>
