<head>
	<title>Shikaku Error</title>
	<link rel="stylesheet" href="/public/main.css"/>
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
</head>
<body>
	<div class="err_main">
	<section class="base_container">
		<div class="err_bang">!</div>
		<h1 class="err_err">{{.Status}}: {{.Message}}</h1>
		{{ range $i, $msg := .More }}
			<p>{{ $msg }}</p>
		{{ end }}
		<a class="err_back" href="#" onclick="window.history.back()">&lt; Back</a>
		<a class="err_home" href="/">Home</a>
	</section>
	</div>
</body>
