.solve_table td {
  height: 32px;
  width: 32px;
}

.solve_shrink .solve_table td {
  width: 20px;
  height: 20px;
  margin: 1px;
  padding: 0;
  font-size: 12px;
}

.solve_table {
  border-spacing: 4px;
}

.solve_label {
  color: var(--color-mid);
  text-align: center;
}

.solve_rect {
  text-align: center;
  background-color: var(--color-light);
}
